
<% if (svg = regular_expression.diagram_svg).present? %>
  <h3 class="text-sm font-bold mb-2 text-white">Railroad diagram:</h3>
  <div class="mb-6 border border-gray-700 bg-gray-900 p-4 rounded">
    <div class="overflow-auto max-h-60">
      <%= raw svg %>
    </div>
  </div>
<% end %>
