<div class="grid grid-cols-1 md:grid-cols-2 gap-8 bg-gray-900 rounded-lg shadow-lg p-4 mb-4 border border-gray-700">
  <%= render partial: "diagram", locals: { regular_expression: regular_expression } %>
  <%= render partial: "test_result", locals: { regular_expression: regular_expression } %>
</div>
