<div class="flex flex-col space-y-2 overflow-auto rounded border border-gray-700 bg-gray-900 p-4 min-h-[140px] text-white text-left">
  <% if regular_expression.expression.present? || regular_expression.test_string.present? %>
    <%= render partial: 'result', locals: { regular_expression: regular_expression } %>
  <% else %>
    <p class="text-gray-500 m-auto text-center">Regexp test result will appear here</p>
  <% end %>
</div>
