<div class="max-w-6xl mx-auto px-4">
  <%= render "form" %>

  <%= turbo_frame_tag "regexp" do %>
    <%= render partial: "result", locals: { regular_expression: @regular_expression } %>
  <% end %>

  <%= render "reference" %>
</div>
