version: 2

updates:
  - package-ecosystem: bundler
    directory: '/'
    schedule:
      interval: daily
      time: '12:00'
      timezone: Asia/Tokyo
    open-pull-requests-limit: 10
    versioning-strategy: lockfile-only
    allow:
      - dependency-type: direct
      - dependency-type: indirect
    labels:
      - dependencies
      - ruby
    groups:
      rails:
        patterns:
          - 'rails'
          - 'railties'
          - 'action*'
          - 'active*'
          - 'globalid'
          - 'mail'
          - 'rack*'
          - 'i18n'
      rubocop:
        patterns:
          - 'rubocop*'
      rspec:
        patterns:
          - 'rspec*'
      wasm:
        patterns:
          - 'wasmify-rails'
          - 'ruby-wasm'

  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: daily
      time: '12:00'
      timezone: Asia/Tokyo
    open-pull-requests-limit: 10
    versioning-strategy: auto
    labels:
      - dependencies
      - javascript
    groups:
      tailwindcss:
        patterns:
          - 'tailwindcss'
          - '@tailwindcss/*'
      turbo:
        patterns:
          - 'turbo-rails'
          - 'stimulus-rails'
      others:
        patterns:
          - '@biomejs/biome'
          - 'alpinejs'
          - 'esbuild'
          - 'playwright'

  - package-ecosystem: npm
    directory: '/pwa'
    schedule:
      interval: daily
      time: '12:00'
      timezone: Asia/Tokyo
    open-pull-requests-limit: 10
    versioning-strategy: auto
    labels:
      - dependencies
      - javascript
    groups:
      others:
        patterns:
          - 'vite'
          - 'vite-plugin-pwa'

  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: daily
      time: '12:00'
      timezone: Asia/Tokyo
    labels:
      - dependencies
      - gh-action
