<h1 class="text-5xl text-white bg-transparent leading-tight font-work-sans">
  <span
    id="example-link"
    role="button"
    class="hover:underline cursor-pointer bg-transparent border-0 text-white text-5xl"
    data-action="click->regexp-examples#selectExample"
    data-pattern=""
    data-test=""
    data-options=""
    data-substitution="">
    Rubree
  </span>
</h1>
