<footer class="text-gray-500 text-xs p-4 text-center">
  <p>
    Inspired by Michael Lovitt’s excellent
    <a href="https://rubular.com" class="hover:underline text-blue-500 hover:text-blue-700" target="_blank" rel="noopener noreferrer">
      Rubular
    </a>.
  </p>
  <p>
    <span class="block md:inline">
      Rubree uses Ruby <%= RUBY_VERSION %>.
    </span>
    <span class="block md:inline md:ml-1">
      Issues
      <a href="https://github.com/aim2bpg/rubree/issues" class="hover:underline text-blue-500 hover:text-blue-700" target="_blank" rel="noopener noreferrer">
        @rubree
      </a>.
    </span>
    <span class="block md:inline md:ml-1">
      Made by Takashi Shimokawa
      <a href="https://x.com/aim2bpg" class="hover:underline text-blue-500 hover:text-blue-700" target="_blank" rel="noopener noreferrer">
        @aim2bpg
      </a>.
    </span>
  </p>
</footer>
