<header class="text-center mb-4 mt-4 leading-relaxed" data-controller="regexp-examples">
  <h1 class="text-5xl font-extrabold text-white bg-transparent leading-tight">
    <span
      id="example-link"
      class="hover:underline cursor-pointer"
      data-action="click->regexp-examples#selectExample"
      data-pattern=""
      data-test=""
      data-options=""
      data-substitution="">
      Rubree
    </span>
  </h1>

  <p class="text-gray-400 text-lg bg-transparent leading-relaxed">
    a Ruby regular expression editor
    <span
      id="example-link"
      class="text-blue-400 hover:underline cursor-pointer"
      data-action="click->regexp-examples#selectExample"
      data-pattern="(?<month>\d{1,2})\/(?<day>\d{1,2})\/(?<year>\d{4})"
      data-test="Today's date is: <%= Time.now.strftime("%-m/%-d/%Y") %>."
      data-options=""
      data-substitution="\k<year>/\k<month>/\k<day>">
      Try an example
    </span>
  </p>
</header>
